<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string></string>
	<string>1-High</string>
	<string>2-Medium</string>
	<string>3-Low</string>
	<string>4-Long term</string>
</array>
</plist>
